<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container">
	<div class="row">

	<div class="col-md-6 col-md-offset-3" style="text-align:center;margin-bottom:48px">
		<h1>Welcome to Turbo</h1>
		<hr />
	</div>

	  <div class="col-md-6 col-md-offset-3" style="text-align:center;margin-bottom:48px">
	    <div style="background:#f9f9f9;border:1px solid #ddd;border-radius:3px;padding:12px;">
		  <form action="/api/profile" method="post">
		    <input type="text" name="firstName" placeholder="firstName"/><br/>
		    <input type="text" name="lastName" placeholder="lastName"/><br/>
		    <input type="text" name="age" placeholder="age"/><br/>
		    <input type="text" name="team" placeholder="team"/><br/>
		    <input type="text" name="position" placeholder="position"/><br/>
			<input type="submit" value="Add Profile" style="margin-top:10px">
		  </form>
		</div>
      </div>
	</div>


  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script>

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
